# ROS 2 Build & Install
build/
install/
.colcon/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.env

# VS Code & IDE
.vscode/
.idea/
*.swp
*.swo

# Project Logs & Debug Outputs
debug_log.txt
*.log
poster_capture.jpg
analysis_result.txt

# OS Generated
.DS_Store
Thumbs.db

# Gazebo Generated
*.sdf.erb
secrets.env